@import "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Animação */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* SVG */
.intro-social {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 20px;
}

.icon-svg {
  fill: #ffffff;
}

.icon-svg:hover {
  fill: #006fa7;
  transition: 0.2s;
}

.icon-2x {
  width: 28px;
  height: 28px;
}

/* Código CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hammersmith One", serif;
}

header {
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  background-color: #010028;
}

/* Menu Burger */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  margin: 15px 0px 0px 20px;
}

.bar {
  height: 3px;
  background-color: white;
  width: 100%;
}

.menu {
  display: none;
  background-color: #ffffff;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: -20px;
  transition: 0.2s;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-content > a {
  color: #010028;
  text-decoration: none;
}

.menu-content > a:hover {
  color: #0000ff;
  text-decoration: none;
  transition: 0.2s;
}

.menu.show {
  transition: 0.2s;
  display: block;
}

/* Abaixo do menu burger */
#title-name {
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

#data-subtitle-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: 300;
}

#div-button-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 30px 0px;
}

#div-button-head > a {
  color: white;
  padding: 8px 50px;
  background-color: #1e88e5;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1.1px;
  text-decoration: none;
}

#div-button-head > a:hover {
  animation: shake 0.3s ease-in-out;
  transition: 0.1;
  background-color: #1467af;
}

/* Main */

main {
  color: rgb(199, 199, 199);
}

/* Quem Sou? */

#section-quem-sou {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-quem-sou {
  margin: 0px 10px 10px 10px;
}

#h5-quem-sou {
  text-align: center;
  padding: 40px 0px 40px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: 100;
  font-size: 1.5em;
  color: rgb(58, 167, 240);
}

#trajetoria-h6 {
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  margin: -25px 0px 40px 0px;
}

#img-div {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0px 0px -40px 0px;
}

#img-quem-sou {
  max-height: 100px;
  border-radius: 50%;
  text-align: center;
}

#coteiner-p {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 0px 0px;
  padding: 40px;
  gap: 30px;
}

#coteiner-p > p {
  color: #5f5f5f;
  text-align: center;
  padding: 10px;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

/* PERFIL */
#section-perfil {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-perfil {
  margin: 0px 10px 10px 10px;
}

#h5-perfil {
  text-align: center;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: 100;
  font-size: 1.3em;
  color: #010028;
}

#perfil-description {
  color: #5f5f5f;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  margin: 30px 0px 0px 30px;
}

.info-list > li > strong {
  color: #010028;
  font-weight: 200;
  letter-spacing: 1px;
}
.info-list > li > span {
  display: block;
  color: #818181;
  font-weight: 200;
  letter-spacing: 1px;
}

/* SOFT SKILLS */
#section-soft-skills {
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
}

#title-soft-skills {
  text-align: center;
  padding: 0px 0px 20px 0px;
  margin: 0px 0px 0px 0px;
  font-weight: 100;
  font-size: 1.3em;
  color: #010028;
}

.list-soft-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  text-align: center;
  color: #303030;
}

.list-soft-skills > li {
  font-family: "Courier New", Courier, monospace;
}
/* Footer */
footer {
  color: #000000;
  background-color: #ffffff;
}
